.navbar-brand-left{
	color:#e7663f;
}
.navbar-brand-right{
	color:#585CA7;
}
.form-control{
	width:97%;
}
#alert-div{
	display: none;
}
.buy{
	font-size: 1em;
    text-transform: capitalize;
    background: #7277D5;
    width: 100%;
    padding: 1em 2em;
    display: block;
    color: #fff;
    text-decoration: none;
}
.buy:hover{
    background-color:#e7663f;
}